# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/

# Virtual environments
venv/
.venv/
.vemv/
.env/

# Docker
Dockerfile
docker-compose.yml
.dockerignore
main.py

# Dev container / IDE
.devcontainer/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
